figure {
  width: 500px;
  background-repeat: no-repeat;
}

figure:hover img {
  opacity: 0;
}

img {
  display: block;
  width: 100%;
  pointer-events: none;
}

@media (max-width: 600px) {
  figure {
    width: 300px;
  }
}

@media (max-width: 360px) {
  figure {
    width: 200px;
  }
}
