.product-container {
  background-color: var(--white);
}

.detail-button-container {
  margin: 0 1rem 3rem;
  border-bottom: 1px solid var(--gray-400);
}

.product-description-container {
  padding: 1rem;
  min-height: 50vh;
}

.hide-product-section {
  display: none;
}

.show-product-section {
  display: block;
}
