.product-container {
  background-color: var(--white);
  margin-top: 3rem;
}

.product-control-container {
  display: flex;
  padding: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

.product-controller {
  width: 50%;
  margin-left: 2rem;
}

.product-controller h2 {
  margin-bottom: 0.375rem;
}

.product-control-review {
  display: flex;
  margin-bottom: 1rem;
}

.product-control-review p {
  margin-left: 0.5rem;
}

.product-control-price {
  display: flex;
  align-items: baseline;
  margin-bottom: 1rem;
}

.product-slashed-price {
  color: var(--main-color) !important;
  text-decoration: line-through;
  margin-left: 0.5rem;
}

.product-stock {
  width: 90px;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--white);
  padding: 0.375em 0.5em;
  background-color: rgb(56, 201, 56);
  border-radius: 4px;
}

.product-soldout {
  background-color: rgb(238, 69, 69);
}

.product-control-quantity {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.quantity-input {
  margin-top: 0.125rem;
  margin-right: 1.5rem;
}

.quantity-input-btn,
.quantity-input-screen {
  user-select: none;
  outline: none;
}

.quantity-input-btn {
  width: 2.5rem;
  padding: 0.438rem;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: var(--white);
  border: 1px solid var(--gray-400);
  text-align: center;

  cursor: pointer;
}

.quantity-input-btn__left {
  border-right: 0;
}

.quantity-input-btn__right {
  border-left: 0;
}

.quantity-input-screen {
  width: 4.5rem;
  padding: 0.438rem;
  font-size: 1.25rem;

  border: 0;
  border-bottom: 1px solid var(--gray-400);
  border-top: 1px solid var(--gray-400);
  text-align: center;
}

.product-favorite-btn {
  background-color: var(--gray-500);
  color: var(--white);
  padding: 0.75rem 0.75rem 0.375rem;
  transform: scale(0.8);
  border-radius: 4px;
  margin: 0.75rem 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
}

.product-favorite-btn:hover {
  background-color: var(--main-color);
}

.product-extra-details ul {
  list-style: square inside;
}

.product-extra-details ul li {
  margin: 0.5rem 0;
}

.detail-button-container {
  margin: 0 1rem 3rem;
  border-bottom: 1px solid var(--gray-400);
}

.product-description-container {
  padding: 1rem;
  min-height: 50vh;
}

.hide-product-section {
  display: none;
}

.show-product-section {
  display: block;
}
