:root {
  --main-color: #2457aa;
  --main-color-light: #3670ce;
  --cart-btn: #ffe000;
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #868e96;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --black: #000;
  --error: hsl(0, 100%, 74%);
}

body {
  background-color: var(--gray-200);
}

.position-fixed {
  overflow-y: hidden;
}

.nav-open-background {
  position: fixed;
  z-index: 800;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.container {
  width: 92%;
  max-width: 1280px;
  margin: auto;
}

.align-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overflow-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overflow-text-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mb-small {
  margin-bottom: 0.5rem;
}

.m-medium {
  margin: 1rem;
}

.white-text {
  color: var(--gray-100);
}

@media (max-width: 1250px) {
  .container {
    margin-top: 6.5rem;
  }
}
