:root {
  --main-color: #2457aa;
  --secondary-color: green;
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #868e96;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --black: #000;
  --error: hsl(0, 100%, 74%);
}

body {
  background-color: var(--gray-100);
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: auto;
}

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--black);
  padding: 0.625em;
  margin: 1rem;
  letter-spacing: 0.1rem;
  display: inline-block;
  transition: all 0.3s linear;
  font-size: 1rem;
  border: 2px solid #222;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}

.btn:hover {
  color: #fff;
  background: var(--black);
}

.link-btn {
  text-decoration: none;
  font-weight: 600;
  padding: 0.438rem 0.5rem;
}

.align-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.full-btn {
  width: 100%;
  text-align: center;
  font-weight: 700;
  margin: 1rem 0;
}

.overflow-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overflow-text-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mb-small {
  margin-bottom: 0.5rem;
}

@media (max-width: 900px) {
  .btn {
    min-width: 80px;
    font-size: 0.875rem;
    padding: 0.5em 0;
  }
}
