.product-review {
  padding: 0 1rem;
  min-height: 50vh;
}

.my-form {
  margin-top: 2.5rem;
}

.comment-box {
  width: 100%;
  height: 100px;
  padding: 10px;
  background-color: #d2e1f8;
  font: 1.4em/1.6em cursive;
  border: 2px solid var(--gray-500);
  border-radius: 10px;
  outline: none;
  transition: border 0.2s linear;
}

.comment-box:focus {
  border: 2px solid var(--main-color-light);
}

.star-container {
  display: flex;
  align-items: center;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 2.25rem;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: var(--cart-btn);
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: var(--cart-btn);
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.comments-section {
  padding: 1rem;
}

.comment {
  background-color: var(--gray-100);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  margin-bottom: 2rem;
}

.author {
  display: flex;
  align-items: center;
}

.author img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 12px;
}

.author-rating {
  margin: 8px 0;
  display: flex;
  align-items: center;
}

.author-rating p {
  font-size: 14px;
  margin-left: 12px;
}

@media (max-width: 600px) {
  .comment-box {
    width: 100%;
    height: 90px;
    font: 1.2em/1.4em cursive;
  }

  .rate {
    height: 42px;
  }

  .rate:not(:checked) > label {
    font-size: 2rem;
  }

  .star-container h3 {
    font-size: 1.125rem;
  }
}

@media (max-width: 480px) {
  .comment p {
    text-align: center;
    font-size: 14px;
  }

  .author {
    flex-direction: column;
  }

  .author img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 10px 0;
  }

  .star-container {
    flex-direction: column;
  }

  .author-rating {
    flex-direction: column;
  }

  .author-rating p {
    font-size: 12px;
    margin: 4px 0;
  }
}
