.review-details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.5rem;
}

.review-left h2 {
  font-size: 2.5rem;
}

.review-bars {
  padding: 0 1rem;
}

.review-bars:after {
  content: "";
  display: table;
  clear: both;
}

.side {
  float: left;
  width: 15%;
  margin-top: 10px;
  font-weight: 700;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

.right {
  text-align: right;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #d2e1f8;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {
  width: 91%;
  height: 18px;
  background-color: var(--main-color-light);
}
.bar-4 {
  width: 7%;
  height: 18px;
  background-color: var(--main-color-light);
}
.bar-3 {
  width: 2%;
  height: 18px;
  background-color: var(--main-color-light);
}
.bar-2 {
  width: 0%;
  height: 18px;
  background-color: var(--main-color-light);
}
.bar-1 {
  width: 0%;
  height: 18px;
  background-color: var(--main-color-light);
}

.comment-section {
  margin-top: 1.5rem;
}

@media (max-width: 680px) {
  .review-details {
    flex-direction: column;
    margin: 1rem 0;
  }
  .side,
  .middle {
    width: 100%;
  }
}
