.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 0.5rem;
}

.error-text-container {
  text-align: center;
}

.error-title {
  font-size: 8rem;
  margin: 0;
}

.error-message {
  font-size: 2rem;
  margin-bottom: 0.25rem;
}

.error-desc {
  font-size: 1rem;
}

.error-btns {
  margin-top: 1rem;
}
