.cart-container {
  min-height: 50vh;

  .cart-header {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;

    .header-block {
      text-transform: capitalize;
      text-align: center;

      span {
        font-weight: 600;
      }
    }
  }
}

.cart-item-container {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  min-height: 100px;
  padding: 1.25rem 0;

  .image-container {
    text-align: center;
    display: flex;
    align-items: center;

    img {
      width: 64px;
      margin-right: 0.5rem;
    }

    .name {
      font-weight: 600;
    }
  }

  .price {
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .quantity {
    display: flex;
    justify-content: center;
    align-items: center;

    .arrow {
      cursor: pointer;
    }

    .value {
      margin: 0 10px;
    }
  }

  .remove-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.cart-checkout-info {
  border: 1px solid var(--gray-400);
  border-radius: 10px;
  padding: 1rem;
}

.amounts-container {
  margin-top: 3.5rem;
}

.amount {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.cart-checkout-divider {
  margin: 1.25rem 0;
  border: 1px solid var(--gray-400);
}

.total-container {
  display: flex;
  justify-content: space-between;
}
