.category-container {
}

.my-custom-pagination-div {
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-end;
}

.my-custom-pagination-div span {
  transform: scale(1.4);
}

.category-slide {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1rem 0;
}

.category-cell {
  background-color: var(--white);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 0;
  background-color: var(--gray-100);
  border: 1px solid var(--gray-400);
  cursor: pointer;
}

.category-cell-icon {
  color: var(--main-color-light);
  transform: scale(1.4);
  margin-bottom: 12px;
}

.category-cell:hover {
  z-index: 100;
  box-shadow: 0 3px 15px -8px var(--gray-800);
}

.category-cell p {
  font-size: 1rem;
  color: var(--gray-700);
}

@media (max-width: 700px) {
  .category-slide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .category-slide {
    grid-template-columns: 1fr;
  }
}
